html, body {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #container {
    width: 100%;
    max-width: 400px;
    padding: 50px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border: transparent;
    border-radius: 20px;
    background-color: #fff;
    border-radius: 8px;
    text-align: center;
    background: url(../public/images/image.png) no-repeat;
    background-size: cover;
  }
  h1{
    margin-bottom: 30px;
  }
  .form-floating {
    margin-bottom: 25px;
  }
  
  .form-control {
    width: 100%;
  }
  #container button{
    border: transparent;
    border-radius: 10px;
  }
  